/* CSS styles for index.html and users.html */
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}



#video-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: none; /* Remove outline/border around the video */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

.whoIsWatching {
  width: 100vw;
  min-height: 100vh;
  background-color: #141414;
}

.logo-section {
  width: 95vw;
  margin: auto;
  height: 7rem;
  background-color: rgb(20, 20, 20);
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo-section a img {
  width: 10rem;
  height: 4rem;
  cursor: pointer;
}

.main-div {
  width: 100vw;
  height: 80vh;
  /* background-color: rosybrown; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.main-div h1 {
  font-size: 6.5rem;
  letter-spacing: 0.2rem;
  font-size: 600;
}

/*VCXVDV*/

.user-profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.user-profile {
  cursor: pointer;
}

.user-profile:hover,
.user-profile:focus {
  border: 2px solid white;
  transform: scale(0.95);
  transition: border-color 0.3s, transform 0.3s;
}

/* Add the following styles at the end of the existing CSS */

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.loading-overlay.active {
  opacity: 0.8;
  pointer-events: auto;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loader {
  border: 3px solid #f00;
  border-top: 3px solid transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*dnvvnd nmvmfd vmfm vmf vmf bfbvjrbhkjfk nmvff vc  bfbjbjvb jeb vjb fjebv*/
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.big-image {
  flex: 3;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.big-image img {
  width: 100%;
  height: 88%;
  object-fit: cover;
  object-position: center;
}

.play-button {
  position: absolute;
  bottom: 95px;
  left: 20px;
  display: inline-flex;
  align-items: center;
  padding: 10px 14px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 6px;
  opacity: 0.7;
  text-decoration: none;
}

.play-text {
  margin-right: 6px;
  font-size: 18px;
  font-weight: bold;
}

.play-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid black;
}

.play-button:hover {
  opacity: 1;
}

.top-picks {
  margin-top: 5px;
  margin-bottom: 5px; /* Adjust the margin-bottom value */
  margin-left: 20px;
  font-size: 24px;
  font-weight: normal;
}

.small-images {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 5px; /* Adjust the padding value */
}

.image {
  height: 135%;
  width: 18%; /* Adjust the width of small images */
}

.image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image p {
  margin-top: 0;
  font-size: 20px;
}

.image:hover {
  transform: translateY(-5px);
}
